@import "font-awesome";

nav{
    font-family: 'Cabin', sans-serif;
    font-size:20px;
    .logo{
        font-size: larger;
        margin-right: 10px;
        font-family: 'Lobster', cursive;
    }
    .logo:hover{
        color: red;
    }
    .nav{
        padding-top: 2px;
        padding-bottom: 2px;
    }
}

.shipping{
    margin-top: 50px;
    margin-bottom: 100px;
}

.collection{
    margin-top: 100px;
    margin-bottom: 100px;
}

.signup{
    margin-bottom: 200px;
}

/* forms */

#hide-button{
    display: none;
}
#error_explanation {
color: red;
ul {
color: red;
margin: 0 0 30px 0;
}
}
.field_with_errors {
.form-control {
color: red;
}
}

footer{
    margin-top: 30px;
}


// Description reduce
div.description {
    white-space: nowrap; 
    width: 400px; 
    overflow: hidden;
    text-overflow: ellipsis; 
  }