<% if logged_in? %>
    <div class="sale site-section block-8 product-sale" style="margin-top: -20px">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-7 site-section-heading text-center">
                    <h2>Big Sale!</h2>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-md-12 col-lg-7 mb-5">
                    <a href="#">
                        <%= image_tag "blog_1.webp", class:"img-fluid rounded"%>
                    </a>
                </div>
                <div class="col-md-12 col-lg-5 text-center pl-md-5">
                    <h2><a class="text-decoration-none" href="#">50% less in all items</a></h2>
                    <p class="post-meta mb-4">By 
                        <a class="text-decoration-none" href="#">Carl Smith</a> 
                        <span class="block-8-sep">&bullet;</span> September 3, 2018
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam iste dolor accusantium facere corporis ipsum animi deleniti fugiat. Ex, veniam?</p>
                    <p>
                        <%= link_to "Shop Now", products_path, class:"btn btn-outline-dark mt-auto"%>
                    </p>
                </div>
            </div>
        </div>
    </div>

    <section>
        <div class="container px-4 px-lg-5 mt-5">
            <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                <% @products.each do |product| %>
                    <% if product.sale == 1 %>
                        <%=render product%>
                    <% end %>
                <% end %>
            </div>
        </div>
    </section>
<% end %>